vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Apr 2018 00:48:32 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-UUBFUT5\\Demet Yalman Ozen
vti_modifiedby:SR|DESKTOP-UUBFUT5\\Demet Yalman Ozen
vti_timecreated:TR|30 Apr 2018 00:48:32 -0000
vti_cacheddtm:TX|30 Apr 2018 00:48:32 -0000
vti_filesize:IR|28702
vti_cachedlinkinfo:VX|S|fonts/icomoon.eot S|fonts/icomoon.eot S|fonts/icomoon.ttf S|fonts/icomoon.woff S|fonts/icomoon.svg
vti_cachedsvcrellinks:VX|NSUS|css/fonts/icomoon.eot NSUS|css/fonts/icomoon.eot NSUS|css/fonts/icomoon.ttf NSUS|css/fonts/icomoon.woff NSUS|css/fonts/icomoon.svg
vti_backlinkinfo:VX|index.html
